* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1ebfc1;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* a {
    text-decoration: none;
} */

/* ========== Common ========== */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-right: auto;
    margin-left: auto;
}

.btn {
    display: inline-block;
    color: #fff;
    min-width: 186px;
    padding: 0 41px;
    border-radius: 1.4rem;
    text-align: center;
    line-height: 68px;
    font-size: 1.8rem;
    font-weight: 600;
    background: var(--primary-color);
    text-decoration: none;
}

.btn:hover {
    opacity: 0.8;
}

.heading {
    color: #0d1111;
    font-weight: 700;
}

.heading.lv1 {
    font-size: 6.2rem;
    line-height: 7.2rem;
}

.heading.lv2 {
    font-size: 4.2rem;
    line-height: 5.6rem;
}

.heading.lv3 {
    font-size: 2.2rem;
    line-height: normal;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-2 {
    --line-clamp: 2;
}
.line-3 {
    --line-clamp: 3;
}

/* ========== Header ========== */
.header.fixed {
    position: sticky;
    top: -40px;
    z-index: 1;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(32px);
}

.header .body {
    display: flex;
    padding: 52px 0 8px;
    align-items: center;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    padding: 8px 19.5px;
}

.header .action-link:hover,
.nav a:hover,
.nav li.active a {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: #2f3a3b;
}

.header .action-link,
.nav a {
    color: #2f3a3b;
    font-size: 1.6rem;
    text-decoration: none;
}

.header .action {
    margin-left: 133.5px;
}

.header .action-link {
    padding: 12px 24px;
}

.header .sign-up-btn {
    color: #1ebfc1;
    min-width: 108px;
    padding: 0 22px;
    line-height: 46px;
    font-size: 1.6rem;
    background-color: #fff;
    border-radius: 0.6rem;
    border: 1px solid #1ebfc1;
}

.header .sign-up-btn:hover {
    color: #fff;
    background: var(--primary-color);
    transition: all 0.3s ease;
}

/* ========== Header ========== */
.hero {
    padding: 42px 0 79px;
}

.hero .body {
    display: flex;
}

/* Hero content */
.hero .content-block {
    width: 39.1%;
    padding-top: 93px;
}

.hero .content-block .eyebrow {
    color: #767e7e;
    font-size: 1.4rem;
}

.hero .content-block .heading {
    padding-top: 18px;
}

.hero .content-block .desc {
    width: 374px;
    padding-top: 46px;
    color: #9da6a5;
    font-size: 1.8rem;
    line-height: 3.2rem;
}

.hero .content-block .cta-group {
    display: flex;
    align-items: center;
    padding-top: 52px;
}

.hero .cta-group .play {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    width: 6.2rem;
    height: 6.2rem;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 22px 50px 0 rgba(0, 0, 0, 0.05);
    border: none;
    cursor: pointer;
}

/* Hero media */
.hero .media-block {
    position: relative;
    margin-left: auto;
    width: 576px;
    height: 631px;
    object-fit: cover;
}

/* Card */
.hero .courses-card {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -40px;
    top: 149px;
    width: 15.7rem;
    height: 7.5rem;
    border-radius: 1.8rem;
    background: #fefefd;
    box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
}

.hero .courses-card .book-icon {
    position: relative;
    margin-right: 16px;
    width: 36px;
    height: 40px;
    background: #ff8282;
    border-radius: 3px 2px 2px 3px;
}

.hero .courses-card .book-icon::before {
    position: absolute;
    display: inline-block;
    content: "";
    bottom: 8px;
    left: 4px;
    border-radius: 999px;
    background: #fff;
    width: 2.8rem;
    height: 0.4rem;
}

.hero .courses-card .desc {
    width: 55px;
}

.hero .courses-card .desc,
.hero .schedules-card .desc {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero .schedules-card .desc {
    margin: 16px 0;
}

.hero .schedules-card {
    position: absolute;
    left: -65px;
    bottom: 46px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2.4rem;
    background: #fff;
    box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
    width: 12.4rem;
    height: 13.2rem;
    --progress-width: 58%;
}

.hero .schedules-card .bar {
    width: 7.4rem;
    height: 0.6rem;
    border-radius: 999px;
    background: #edf1f5;
}

.hero .bar .progress {
    height: 100%;
    width: var(--progress-width);
    border-radius: 999px;
    background: #fb9899;
}

.hero .schedules-card .bar:nth-of-type(1) {
    margin-bottom: 12px;
}

.hero .schedules-card .bar:nth-of-type(2) {
    margin-bottom: 10px;
}

.hero .schedules-card .bar:nth-of-type(3) {
    margin-bottom: 16px;
}

.hero .schedules-card .bar:nth-of-type(3) {
    margin-bottom: 16px;
}

.hero .schedules-card .bar.light {
    width: 26px;
}

.hero .student-card {
    position: absolute;
    right: 45px;
    bottom: 41px;
    padding: 17px 35px;
    width: 20.7rem;
    height: 9rem;
    border-radius: 2.4rem;
    background: #fefefd;
    box-shadow: 0 12px 80px 0 rgba(0, 0, 0, 0.05);
}

.hero .student-card .desc {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero .avatar-group {
    display: flex;
    padding-top: 8px;
    align-items: center;
    margin-left: 9px;
}

.hero .avatar-group .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    width: 33px;
    height: 33px;
    object-fit: cover;
    border-radius: 50%;
    background-color: #1ebfc1;
    margin-left: -9px;
}

/* ========== Features ========== */
.features {
    margin-top: 51px;
    padding: 79px 0 50px;
}

.features .main-content {
    width: 1024px;
}

.features .features-top {
    max-width: 591px;
}

.features .features-top .eyebrow {
    margin-bottom: 18px;
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.features .features-top .desc {
    margin-top: 18px;
    color: #767e7e;
    font-size: 1.8rem;
    line-height: 1.5;
}

.features .features-list {
    display: flex;
    margin-top: 80px;
}

.features .features-item:nth-of-type(1) {
    width: 16.5%;
}

.features .features-item:nth-of-type(3),
.features .features-item:nth-of-type(2) {
    width: 21.8%;
    margin-left: auto;
}

.features .features-item .title {
    margin-top: 26px;
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
}

.features .features-item .desc {
    margin-top: 16px;
    color: #9da6a5;
    font-size: 1.6rem;
    line-height: 2.7rem;
}

/* ========== Popular ========== */
.popular {
    margin-top: 30px;
    padding: 50px 0;
}

.popular .info .eyebrow {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.popular .heading.lv2 {
    margin-top: 18px;
}

.popular .info .row {
    display: flex;
    align-items: center;
}

.popular .info .desc {
    max-width: 525px;
    margin-top: 18px;
    color: #767e7e;
    font-size: 1.8rem;
    line-height: 3.2rem;
}

.popular .row .link-courses {
    display: flex;
    margin-left: auto;
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
}

/* Popular media */

.courses-list {
    display: flex;
    padding-top: 79px;
    gap: 47px;
}

.course-img-wrap {
    width: 35.9rem;
    height: 39.3rem;
    background: #d0efed;
    border-radius: 0.8rem;
    overflow: hidden;
}

.courses-list .course-item {
    position: relative;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: all 0.3s ease;
    /* overflow: visible; */
}

.courses-list .course-item .course-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.8rem;
    opacity: 0.7;
    transition: all 0.3s ease;
}

.courses-list .course-item:hover .course-img {
    opacity: 1;
    transform: scale(1.05);
}

.courses-list .course-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.courses-list .body {
    position: absolute;
    left: 17px;
    top: 322px;
    padding: 18px 25px 29px;
    width: 32.5rem;
    height: 19.5rem;
    border-radius: 0.8rem;
    background: #fff;
    box-shadow: 0 16px 90px 0 rgba(0, 0, 0, 0.05);
}

.courses-list .course-item:hover .body {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
    transition: all 0.4s ease;
}

.courses-list .price {
    margin-top: 16px;
    color: #767e7e;
    font-size: 1.6rem;
    line-height: normal;
}

.courses-list .price strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.courses-list .body .desc {
    margin-top: 6px;
    color: #9da6a5;
    font-size: 1.4rem;
    line-height: normal;
}

.courses-list .body .info-course {
    margin-top: 18px;
    margin-left: -10px;
}

.courses-list .body .info-course .label {
    color: #9da6a5;
    font-size: 1.4rem;
    line-height: normal;
}

.courses-list .body .info-course .label::before {
    display: inline-block;
    content: "";
    line-height: 100%;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    margin: 0 10px;
    position: relative;
    top: -2px;
    background: var(--primary-color);
}

/* ========== Stats ========== */
.stats {
    margin-top: 289px;
    padding: 50px 0;
}

.stats .main-content {
    max-width: 862px;
}

.stats .row {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.stats .row .qty {
    color: #0d1111;
    font-size: 6.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.stats .row .desc {
    color: #767e7e;
    font-size: 1.8rem;
    font-style: normal;
    line-height: normal;
}

/* ========== Feedback ========== */
.feedback {
    margin-top: 214px;
    padding: 50px 0;
}

.feedback .feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback .feedback-item {
    display: flex;
    width: 100%;
    flex-shrink: 0;
}

.feedback .content {
    width: 35.8%;
    padding: 37px 0;
}

.feedback blockquote {
    margin-top: 27px;
    font-size: 32px;
    line-height: 48px;
    color: #5d6564;
}

.feedback .title {
    margin-top: 33px;
    font-size: 16px;
    line-height: 100%;
    color: #5d6564;
}

.feedback .title strong {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #070707;
}

.feedback .controls {
    display: flex;
    margin-top: 52px;
    gap: 30px;
}

.feedback .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--primary-color);
}

.feedback .control-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* Block right */
.feedback-avatar {
    position: relative;
    width: 58%;
    margin-left: 72px;
}

.feedback-avatar .avatar {
    position: absolute;
    width: 78px;
    height: 78px;
    object-fit: cover;
    border-radius: 50%;
}

.avatar.avatar-small {
    width: 92px;
    height: 92px;
}

.avatar.avatar-medium {
    width: 110px;
    height: 110px;
}

.avatar.avatar-large {
    width: 235px;
    height: 235px;
}

.feedback-avatar img:nth-of-type(1) {
    left: 0;
    bottom: 145px;
}

.feedback-avatar img:nth-of-type(2) {
    right: 389px;
    bottom: 0px;
}

.feedback-avatar img:nth-of-type(3) {
    right: 32px;
    bottom: 29px;
}

.feedback-avatar img:nth-of-type(4) {
    right: 443px;
    top: 0;
}

.feedback-avatar img:nth-of-type(5) {
    right: 0;
    top: 19px;
}

.feedback-avatar img:nth-of-type(6) {
    right: 171px;
    top: 107px;
}

/* ========== CTA Section ========== */
.cta {
    margin-top: 80px;
    padding: 76px 0 88px;
    background: #def6f5;
}

.cta .body {
    display: flex;
    align-items: center;
}

.cta .body .desc {
    margin-top: 18px;
    font-size: 18px;
    line-height: 100%;
    color: #767e7e;
}

.cta .btn {
    margin-left: 410px;
}

/* ==========Footer ========== */
.footer {
    padding: 131px 0 0;
}

.footer .row {
    display: flex;
    justify-content: space-between;
}

.footer .row .column {
    /* width: 18.75%; */
}

.footer .row .column:nth-child(4) {
    /* width: 25%; */
}

.footer .column .title {
    color: #2e2e2e;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
}

.footer .list {
    margin-top: 26px;
}

.footer .list a {
    display: flex;
    color: #535353;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 20px;
    text-decoration: none;
}

.footer .list a:hover {
    text-decoration: underline;
}

.footer .list a .icon {
    text-align: center;
    margin-right: 9px;
}

.footer .copyright {
    margin: 80px 0 50px;
    color: #b0b5b4;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
}

.footer a .icon.facebook {
    margin-left: 3px;
    margin-right: 11px;
}
